.card-container{
    width: 400px;
    max-width: 500px;
    max-height: 90%;
    height: 90%;
    min-height: 700px;
    overflow: hidden;
    position: relative;
    background-color: var(--Negro);
    color: var(--Blanco);
    padding: var(--PadContainer);
    border-radius: var(--RadContainer);
    justify-content: start;
    gap: var(--PadElement);
}
    .card-container small{
        color: var(--Blanco);
        opacity: 0.4;
        font-size: 0.7rem;
        letter-spacing: 0.5px;
    }
    .card-container-general{
        width: 100%;
        height: auto;
    }

    .title-card-container{
        
    }
        .title-card-container > .title-card{
            width: 100%;
            font-size: 1.5rem;
        }
            .title-card > svg{
                color: var(--Neon);
                transform: rotate(-45deg);
                margin-right: 0.5rem;
            }
        .title-card-container >  small{
            text-transform: lowercase;
            gap: var(--GapContainer);
        }
    
    .marked-inner-container{
        width: 100%;
        height: auto;
        min-height: 120px;
        max-height: 200px;
        border-radius: var(--RadElement);
        background-color: var(--InnerColor);
        border: solid 1px var(--Gris);
        padding: var(--PadElement);
        position: relative;
    }
        .marked-inner-container .header-marked{
            width: 100%;
            height: auto;
            color: var(--Gris);
            justify-content: space-between;
        }
            .marked-inner-container small{
                text-transform: uppercase;
            }

        .footer-marked{
            width: 100%;
            height: auto;
            color: var(--Gris);
            justify-content: space-between;
        }

        .pass-shower{
            height: auto;
            min-height: 120px;
            justify-content: space-between;
        }
            .pass-shower .text-pass-shower{
                position: absolute;
                width: 100%;
                transform: translateY(-50%);
                top: 50%;
                left: 0;
                text-align: center;
            }
            .pass-shower .copy-btn{
                height: auto;
                cursor: pointer;
            }
                .pass-shower .copy-btn > svg{
                    color: var(--Blanco);
                    width: 2cap;
                    height: auto;
                    aspect-ratio: 1/1;
                    margin-right: 0.5rem;
                }

    .separetor{
        position: relative;
        margin-block: 1rem;
    }
        .separetor > hr{
            z-index: 1;
            background-color: var(--Gris);
            height: 1px;
            border: none;
        }
        .separetor > small{
            opacity: 1;
            position: absolute;
            background-color: var(--Negro);
            padding-inline: 1.5rem;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            z-index: 2;
            text-transform: uppercase;
        }

    .lenght-pass{
        height: auto;
        justify-content: space-between;
    }
        .lenght-pass > input{
            width: 100%;
            height: 0.5rem;
            background-color: var(--Neon);
            accent-color: var(--Neon);
            -webkit-appearance: none;
            appearance: none;

            outline: none;
            border-radius: 10px;
        }

        .lenght-pass > input::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 34px;
            height: 20px;
            border-radius: 10px;
            background-color: var(--Blanco);
            cursor: pointer;
        }
        .lenght-pass > input::-moz-range-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 34px;
            height: 20px;
            border-radius: 10px;
            background-color: var(--Blanco);
            cursor: pointer;
        }
        small.frame-small{
            width: auto;
            height: auto;
            padding: 0.3rem 1rem;
            background-color: var(--Neon2);
            opacity: 1;
            border-radius: 5px;
            font-weight: bold;
            font-size: 1rem;
        }

    .character-selector{
        gap: 0.5rem;
    }
        .option-character{
            width: 40%;
            height: auto;
            min-height: 50px;
            padding-block: 0.5rem;
            flex-grow: 1;
            position: relative;
            overflow: hidden;
            border: solid 1px var(--Neon);
            background-color: var(--Negro);
            border-radius: 10px;
            cursor: pointer;
        }
        selector-component{
            width: 40%;
            height: auto;
            flex-grow: 1;
            position: relative;
            overflow: hidden;
        }

    .alert-modal{
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: var(--RadElement);
        padding: var(--PadElement);
        background-color: var(--RojoBG);
        border: solid 1px var(--RojoBOR);
        /* display: none; */
    }